
header h1 {
  border: 5px solid red;
  text-align: center;
}

header img {
  margin-left: 24%;
  display: block;
}

nav ul {
  border: 5px solid red;
  text-align: center;
}

nav ul li {
  color: blue;
  display: inline-block;
  list-style-type: none;
  font-size: 150%;
  padding: 0 30px;
}

section article img {
  display: inline-block;
  width: 20%;
}

section article p  {
  width: 45%;
  display: inline-block;
}

button {
  font-size: 20px;
   border: 10px solid orange;
   border-radius: 15px;
   padding: 0 50px;
   display: block;
   background-color: orange;
   display: inline-block;
}
.hide{
    visibility: hidden;
}
